apiVersion: v1
kind: Service
metadata:
  name: frontend 
  namespace: roboshop
spec:
  type: LoadBalancer
  selector:
    project: roboshop
    component: frontend  
    tier: frontend 
  ports:
    - protocol: TCP
      port: {{ .Values.service.servicePort }}
      targetPort: 8080
---
apiVersion: elbv2.k8s.aws/v1beta1
kind: TargetGroupBinding
metadata:
  name: frontend
  namespace: roboshop
spec:
  serviceRef:
    name: frontend # route traffic to the awesome-service
    port: 80
  targetGroupARN: {{ .Values.tgb.arn }}
  targetType: ip